<!DOCTYPE html>
<html lang={@locale} dir={@direction}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, interactive-widget=resizes-visual">
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <.inertia_title>Temporah</.inertia_title>
    <.inertia_head content={@inertia_head} />
    <script type="module" src="http://localhost:5173/@vite/client">
    </script>
    <script type="module" src="http://localhost:5173/js/app.js">
    </script>
  </head>
  <body>
    <div id="app-container">
      {@inner_content}
    </div>
  </body>
</html>
